.swatches {
  background-color: #ffffff;
  margin-top: 7vh;
  color: #484d4d;
}

.swatch-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 80vw;
}

.swatch-card {
  border: 1px solid black;
  border-radius: 7px;
  margin: auto 2vw 3vh;
}

.swatch-background {
  height: 150px;
  width: 150px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.swatch-card p {
  margin: 6px 12px;
}

.page-numbers {
  display: flex;
  justify-content: center;
}

.page-number {
  font-size: 18px;
  padding: 10px 5px 1px;
  margin: 5vh .5vw;
}

.page-number.active {
  font-weight: bold;
  border-bottom: 1.5px solid #484d4d;
}