.swatches {
  background-color: #ffffff;
  color: #484d4d;
  height: 90vh;
  overflow-y: scroll;
}

.swatch-card-container {
  margin-top: 7vh;
  margin-bottom: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 80vw;
}

.swatch-card {
  border-radius: 7px;
  margin: auto 2vw 3vh;
  border: 1.2px solid #e2dfdf;
  box-shadow: 0 0 2px rgba(114, 106, 106, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(15, 14, 14, 0.2);
}

.swatch-background {
  height: 150px;
  width: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.swatch-card p {
  margin: 6px 12px;
}

.page-numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: auto 2vw 5vh;
}

.page-number {
  font-size: 18px;
  padding: 10px 5px 1px;
  margin: 0 .5vw;
}

.page-number.active {
  font-weight: bold;
  border-bottom: 1.5px solid #484d4d;
}

@media (max-width: 500px) {
  .swatch-card-container {
    width: auto;
    margin-bottom: auto;
  }
}